body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.grey-qo-regular {
  font-family: "Grey Qo", cursive;
  font-weight: 500;
  font-size: 3em;
  font-style: normal;
  text-shadow: 
  0 0 5px #ffd700,
  0 0 15px #ffd700,
  0 0 15px #ffea00;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-inner img {
    display: none;
    width: 100%;
    height: auto;
}

.carousel-inner img.active {
    display: block;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: gold;
    padding: 10px;
    text-decoration: none;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.container {
    max-width: 860px;
    height: auto;
    margin: 0 auto;
    padding: 0px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

header p {
    font-size: 1.2em;
    color: gray;
}

.details {
    margin-bottom: 20px;
}

.tulis {
    font-family: "grey Qo", cursive;
    font-size: 5em;
    font-style: normal;
    
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 0 auto;
    flex-direction: column;
}

.details h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.details p {
    font-size: 1.1em;
    margin: 5px;
}

#rsvp {
    border-top: 2px solid black;
    padding-top: 20px;
    text-align: center;
    background-color: white;
}

.rsvp h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.rsvp p {
    font-size: 1.1em;
    margin-bottom: 10px;
}

form {
    display: grid;
    gap: 10px;
}

input, textarea, select {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #eb0000;
    border-radius: 5px;
    justify-content: center;
    margin: 5px 0;
}

form label {
    font-size: 1.1em;
}

#button {
    padding: 10px;
    font-size: 1.1em;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#button:hover {
    background-color: rgb(32, 32, 181);
}

#response-message {
    margin-top: 20px;
    font-size: 1.2em;
    color: green;
}

.music {
    display: flex;
    justify-content: center ;
    margin: 0;
    padding: 0;
    text-align: center;
}